 
      <!-- content -->
      <div id="content">

        <div class="indent">
          <div class="wrapper">
            <div class="mainContent">



  		  <div class="box_skitter box_skitter_large">
  				<ul>
  					<li><a href="#fadeFour"><img src="/assets/nrs.jpg" alt="" /></a><div class="label_text"><p>Nagpur Railway Station</p></div></li>
  					<li><a href="#fadeFour"><img src="/assets/rbi.jpg" alt="" width="709" height="469" /></a><div class="label_text"><p>Reserve Bank of India</p></div></li>
  					<li><a href="#fadeFour"><img src="/assets/dikshabhoomi.jpg" alt="" width="709" height="469" /></a><div class="label_text"><p>Deekshabhoomi</p></div></li>
  					<li><a href="#fadeFour"><img src="/assets/vca.jpg" alt="" width="709" height="469" /></a><div class="label_text"><p>Vidarbha Cricket Association (VCA) Stadium Jamtha, Nagpur</p></div></li>
  					<li><a href="#fadeFour"><img src="/assets/airport.jpg" alt="" width="709" height="469" /></a><div class="label_text"><p>Dr. Babasaheb Ambedkar International Airport, Nagpur</p></div></li>


  				</ul>
  			</div>



              <div class="row-1 section">
                <div class="wrapper">
                  <div class="col-1">
                   <!-- <h2>This is title</h2>-->
                    <div class="wrapper">
                      <div class="extra-wrap">
                       <p> With 1000 odd members,<strong> NAGPUR OF CHAMBER OF COMMERCE LTD</strong> is biggest and oldest chamber of commerce in the region. NCCL has many prominent trade associations and prominent industrialists, businessmen, advocates, chartered accountants as its members.
                        It is actively involved in providing help, support, guidance to commercial organizations, associations, traders.</p>
      <p>               
  It is frontal body in representing grievances and concerns of trade and industry before various authorities. It acts as communication tool between government agencies and trade and industry. Government agencies, national and international organizations take help of Chamber to convey their programs, messages, policies to trade and industry. Chamber plays active role in policy formulation process and decision making process of various agencies.</p>

  THE NAGPUR CHAMBER OF COMMERCE LTD was incorporated as a “COMPANY LIMITED BY GUARANTEE” under Indian Companies Act, 1913 on March 8’ 1932. The Chamber’ incorporation has a glorious story behind it. Dr. Rajendra Prasad (First President of independent India) as a part of freedom movement started  organizing businessmen and business organizations. He started setting chambers of commerce in major cities, starting with Mumbai. Patna was second and Nagpur had the privilege to be his next choice. Under his inspiration and guidance the 30 member founder team called “ AD HOC COMMITTEE” was formed in leadership of SHRI JODHRAJ MEHADIA The 30 member ad-hoc committee included prominent personalities like Justice P. P. Deo and Adv. ChhaganlalBharuka. Thus the chamber became the first chamber of commerce in central India. 

                        <div class="alignright"><a href="/pages/about-us" class="button">Read more &raquo;</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="aside">




  		    <%= render "recent_news" %>

          <%= render "event" %>






              


            </div>
          </div>
        </div>
      </div>