   <div id="content">

      <div class="indent">
        <div class="wrapper">
          <div class="mainContent">
		  

              <div class="wrapper">
           
              <h2>Chamber’s Presidents &amp; Secretaries from 1959</h2>
                 
                    <div class="extra-wrap">
<table width="100%" border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td align="left" valign="top"><strong>Sr. No.</strong></td>
    <td align="left" valign="top"><strong>Year</strong></td>
    <td align="left" valign="top"><strong>President</strong></td>
    <td align="left" valign="top"><strong>Secretary</strong></td>
  </tr>
  <tr>
    <td align="left" valign="top">1</td>
    <td align="left" valign="top">1959-1962</td>
    <td align="left" valign="top">Shri Mohanlal Agrawal</td>
    <td align="left" valign="top">Shri Shikharchand Jain</td>
  </tr>
  <tr>
    <td align="left" valign="top">2</td>
    <td align="left" valign="top">1962-1963</td>
    <td align="left" valign="top">Shri Hajarimal Banthia</td>
    <td align="left" valign="top">Shri Shikharchand Jain</td>
  </tr>
  <tr>
    <td align="left" valign="top">3</td>
    <td align="left" valign="top">1963-1964</td>
    <td align="left" valign="top">Shri Abbas Ali Kamal</td>
    <td align="left" valign="top">Shri Shikharchand Jain</td>
  </tr>
    <tr>
    <td align="left" valign="top">4</td>
    <td align="left" valign="top">1964-1965</td>
    <td align="left" valign="top">Shri Ratanlal Dhadiwal</td>
    <td align="left" valign="top">Shri Shikharchand Jain</td>
  </tr>
   <tr>
    <td align="left" valign="top">5</td>
    <td align="left" valign="top">1965-1966</td>
    <td align="left" valign="top">Shri Govindlal Agrawal</td>
    <td align="left" valign="top">Shri Shikharchand Jain</td>
  </tr>
   <tr>
    <td align="left" valign="top">6</td>
    <td align="left" valign="top">1966-1969</td>
    <td align="left" valign="top">Shri Sardarmal Golchha</td>
    <td align="left" valign="top">Shri Kisangopal Purohit</td>
  </tr>
   <tr>
    <td align="left" valign="top">7</td>
    <td align="left" valign="top">1969-1970</td>
    <td align="left" valign="top">Shri Kisangopal Purohit</td>
    <td align="left" valign="top">Shri Radhakisan Puniyani</td>
  </tr>
   <tr>
    <td align="left" valign="top">8</td>
    <td align="left" valign="top">1970-1972</td>
    <td align="left" valign="top">Shri Gwaldas Chandak</td>
    <td align="left" valign="top">Shri Radhakisan Puniyani</td>
  </tr> <tr>
    <td align="left" valign="top">9</td>
    <td align="left" valign="top">1972-1974</td>
    <td align="left" valign="top">Shri Shikharchand Jain</td>
    <td align="left" valign="top">Shri Radhakisan Puniyani</td>
  </tr> <tr>
    <td align="left" valign="top">10</td>
    <td align="left" valign="top">1974-1975</td>
    <td align="left" valign="top">Shri Ghanshyamdas Panpaliya</td>
    <td align="left" valign="top">Shri Mangilal Jain</td>
  </tr> <tr>
    <td align="left" valign="top">11</td>
    <td align="left" valign="top">1975-1976</td>
    <td align="left" valign="top">Shri Radhakisan Puniyani</td>
    <td align="left" valign="top">Shri Mangilal Jain</td>
  </tr> <tr>
    <td align="left" valign="top">12</td>
    <td align="left" valign="top">1976-1977</td>
     <td align="left" valign="top">Shri Radhakisan Puniyani</td>
    <td align="left" valign="top">Shri Sardarmal Golchha</td>
  </tr> <tr>
    <td align="left" valign="top">13</td>
    <td align="left" valign="top">1977-1978</td>
     <td align="left" valign="top">Shri Sardarmal Golchha</td>
    <td align="left" valign="top">Shri Hanumanmal Nahta</td>
  </tr> <tr>
    <td align="left" valign="top">14</td>
    <td align="left" valign="top">1978-1981</td>
    <td align="left" valign="top">Shri Mohanlal Katariya</td>
    <td align="left" valign="top">Shri Hanumanmal Nahta</td>
  </tr> <tr>
    <td align="left" valign="top">15</td>
    <td align="left" valign="top">1981-1982</td>
     <td align="left" valign="top">Shri Hanumanmal Nahta</td>
    <td align="left" valign="top">Shri Harish Dudeja</td>
  </tr> 
  
  <tr>
    <td align="left" valign="top">16</td>
    <td align="left" valign="top">1982-1983</td>
     <td align="left" valign="top">Shri Hanumanmal Nahta</td>
    <td align="left" valign="top">Shri Puranmal Agrawal</td>
  </tr> 
  <tr>
    <td align="left" valign="top">17</td>
    <td align="left" valign="top">1983-1984</td>
     <td align="left" valign="top">Shri Govindlal Agrawal</td>
    <td align="left" valign="top">Shri Harshad Jhaveri</td>
  </tr> 
  <tr>
    <td align="left" valign="top">18</td>
    <td align="left" valign="top">1984-1985</td>
     <td align="left" valign="top">Shri Puranmal Agrawal</td>
    <td align="left" valign="top">Shri P. D. M. Agrawal</td>
  </tr> 
  <tr>
    <td align="left" valign="top">19</td>
    <td align="left" valign="top">1985-1986</td>
     <td align="left" valign="top">Shri Mathuraprasad Kejdiwal</td>
    <td align="left" valign="top">Shri Rajesh Jindal</td>
  </tr> 
  <tr>
    <td align="left" valign="top">20</td>
    <td align="left" valign="top">1986-1987</td>
     <td align="left" valign="top">Shri Ghanshyamdas Panpaliya</td>
    <td align="left" valign="top">Shri Harshad Jhaveri</td>
  </tr> 
  <tr>
    <td align="left" valign="top">21</td>
    <td align="left" valign="top">1987-1988</td>
     <td align="left" valign="top">Shri Ghanshyamdas Panpaliya</td>
    <td align="left" valign="top">Shri Harish Dudeja</td>
  </tr> 
  <tr>
    <td align="left" valign="top">22</td>
    <td align="left" valign="top">1988-1990</td>
     <td align="left" valign="top">Shri Shikharchand Jain</td>
    <td align="left" valign="top">Shri Devidatta Murarka</td>
  </tr> 
  <tr>
    <td align="left" valign="top">23</td>
    <td align="left" valign="top">1990-1994</td>
     <td align="left" valign="top">Shri Hanumanmal Nahta</td>
    <td align="left" valign="top">Shri Devidatta Murarka</td>
  </tr> 
  <tr>
    <td align="left" valign="top">24</td>
    <td align="left" valign="top">1994-1995</td>
     <td align="left" valign="top">Shri Santoshkumar Agrawal</td>
    <td align="left" valign="top">Shri Balbir Singh Renu</td>
  </tr> 
  <tr>
    <td align="left" valign="top">25</td>
    <td align="left" valign="top">1995-1996</td>
     <td align="left" valign="top">Shri Balbir Singh Renu</td>
    <td align="left" valign="top">Shri Devidatta Murarka</td>
  </tr> 
  <tr>
    <td align="left" valign="top">26</td>
    <td align="left" valign="top">1996-1999</td>
     <td align="left" valign="top">Shri Balbir Singh Renu</td>
    <td align="left" valign="top">Shri Mohan Mehadia</td>
  </tr> 
  <tr>
    <td align="left" valign="top">27</td>
    <td align="left" valign="top">1999-2000</td>
     <td align="left" valign="top">Shri Padamraj Modh Saraf</td>
    <td align="left" valign="top">Shri Mohan Mehadia</td>
  </tr> 
  <tr>
    <td align="left" valign="top">28</td>
    <td align="left" valign="top">2000-2001</td>
     <td align="left" valign="top">Shri Padamraj Modh Saraf</td>
    <td align="left" valign="top">Shri Mahendra M. Katariya</td>
  </tr> 
  <tr>
    <td align="left" valign="top">29</td>
    <td align="left" valign="top">2001-2002</td>
     <td align="left" valign="top">Shri Mohan Mehadia</td>
    <td align="left" valign="top">Shri Kailash Jogani</td>
  </tr> 
  <tr>
    <td align="left" valign="top">30</td>
    <td align="left" valign="top">2002-2003</td>
     <td align="left" valign="top">Shri Bajranglal Pacheriwala</td>
    <td align="left" valign="top">Shri Kailash Jogani</td>
  </tr> 
  <tr>
    <td align="left" valign="top">31</td>
    <td align="left" valign="top">2003-2005</td>
     <td align="left" valign="top">Shri Kamal Singh Chopra</td>
    <td align="left" valign="top">Shri Kailash Jogani</td>
  </tr> 
  <tr>
    <td align="left" valign="top">32</td>
    <td align="left" valign="top">2005-2006</td>
     <td align="left" valign="top">Shri Mahendra M. Katariya</td>
    <td align="left" valign="top">Shri Kailash Jogani</td>
  </tr> 
  <tr>
    <td align="left" valign="top">33</td>
    <td align="left" valign="top">2006-2007</td>
     <td align="left" valign="top">Shri Bhagirath Murarka</td>
    <td align="left" valign="top">Shri Kailash Jogani</td>
  </tr> 
  <tr>
    <td align="left" valign="top">34</td>
    <td align="left" valign="top">2007-2009</td>
     <td align="left" valign="top">Shri Kailash Jogani</td>
    <td align="left" valign="top">Shri Tejinder Singh Renu</td>
  </tr> 
  <tr>
    <td align="left" valign="top">35</td>
    <td align="left" valign="top">2009-2011</td>
     <td align="left" valign="top">Shri J. P. Sharma</td>
    <td align="left" valign="top">Shri Tejinder Singh Renu</td>
  </tr> 
  <tr>
    <td align="left" valign="top">36</td>
    <td align="left" valign="top">2011-</td>
     <td align="left" valign="top">Shri Kamlesh P. Shah</td>
    <td align="left" valign="top">Shri Purushottam Thakare</td>
  </tr> 
  
  
  
  
  
  
</table>

                    </div>
               
               
              </div>
           
            
          </div>
          <div class="aside">
		  
		  
		  
		  
		 <div id="londontabs" class="widget">

<div id="tabsheader" class="tabsheader">

<ul class="tabnav ui-tabs-nav">
<li class="ui-tabs-selected"><a href="#markettab">Markets</a></li>
<li class=""><a href="#recenttab">Banking</a></li>
<li class=""><a href="#commentstab">Economy</a></li>
<li class="tagslast"><a href="#tagtab" class="tagslast">Companies</a></li>
</ul>

</div>

<div id="markettab" class="tabdiv ui-tabs-panel" style="">
<div class="tab_inside">
<a href="#"><img src="images/thumb_038.png" alt="How to make good business charts"></a>
<div class="content">
<h1><a href="#">How to make good business charts</a></h1> 
<span class="date">January 03,  2011</span>
</div>
</div>


<div class="tab_inside">
<a href="#"><img src="images/thumb_038.png" alt="How to make good business charts"></a>
<div class="content">
<h1><a href="#">How to make good business charts</a></h1> 
<span class="date">January 03,  2011</span>
</div>
</div>


<div class="tab_inside">
<a href="#"><img src="images/thumb_038.png" alt="How to make good business charts"></a>
<div class="content">
<h1><a href="#">How to make good business charts</a></h1> 
<span class="date">January 03,  2011</span>
</div>
</div>

<div class="tab_inside no_border_bottom">
<a href="#"><img src="images/thumb_013.png" alt="How to setup business meetings"></a>
<div class="content">
<h1><a href="#">How to setup business meetings</a></h1> 
<span class="date">February 03,  2011</span>
</div>
</div>
</div>



<div style="" id="recenttab" class="tabdiv ui-tabs-panel ui-tabs-hide">
<div class="tab_inside">
<a href="#"><img src="images/thumb_038.png" alt="How to make good business charts"></a>
<div class="content">
<h1><a href="#">How to make good business charts</a></h1> 
<span class="date">January 03,  2011</span>
</div>
</div>

<div class="tab_inside no_border_bottom">
<a href="#"><img src="images/thumb_013.png" alt="How to setup business meetings"></a>
<div class="content">
<h1><a href="#">How to setup business meetings</a></h1> 
<span class="date">February 03,  2011</span>
</div>
</div>

</div>

<div style="" id="commentstab" class="tabdiv ui-tabs-panel ui-tabs-hide">

<div class="tab_inside">
<a href="#"><img src="images/thumb_038.png" alt="How to make good business charts"></a>
<div class="content">
<h1><a href="#">How to make good business charts</a></h1> 
<span class="date">January 03,  2011</span>
</div>
</div>

<div class="tab_inside no_border_bottom">
<a href="#"><img src="images/thumb_013.png" alt="How to setup business meetings"></a>
<div class="content">
<h1><a href="#">How to setup business meetings</a></h1> 
<span class="date">February 03,  2011</span>
</div>
</div>
</div>

<div style="" id="tagtab" class="tabdiv ui-tabs-panel ui-tabs-hide">

<div class="tab_inside">
<a href="#"><img src="images/thumb_038.png" alt="How to make good business charts"></a>
<div class="content">
<h1><a href="#">How to make good business charts</a></h1> 
<span class="date">January 03,  2011</span>
</div>
</div>

<div class="tab_inside no_border_bottom">
<a href="#"><img src="images/thumb_013.png" alt="How to setup business meetings"></a>
<div class="content">
<h1><a href="#">How to setup business meetings</a></h1> 
<span class="date">February 03,  2011</span>
</div>
</div>

</div>


</div> 
		  
		  
		  
		  
		  
		  
		  
		  
            <div class="section">
              <div class="heading">News and Events</div>
              <!-- .box -->
              <div class="box">
                <div class="border-right">
                  <div class="border-bot">
                    <div class="left-top-corner">
                      <div class="right-top-corner">
                        <div class="right-bot-corner">
                          <div class="left-bot-corner">
                            <div class="inner">
                              <dl class="list3">
                                <dt><strong>07/05/2010</strong> Gifts &amp; Novelties</dt>
                                <dd>Accusantium doemque laudantot aperiam, eaque ipsa quaein...<a href="#">&gt;&gt;</a></dd>
                                <dt><strong>08/06/2010</strong> Network Marketing</dt>
                                <dd>Accusantium doemque laudantot aperiam, eaque ipsa quaein...<a href="#">&gt;&gt;</a></dd>
                                
                              </dl>
                              <div class="wrapper"><a href="#" class="button">More &raquo;</a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.box -->
            </div>
            

          </div>
        </div>
      </div>
    </div>