<div align="center" style="background:url(/assets/bglogo.png) no-repeat top left; width:100%; height:auto; min-height:400px; padding:200px 0 0 0">
<div style="font-size:25px; font-weight:bold; line-height:normal">NAGPUR CHAMBER <br />
  OF COMMERCE LIMITED</div>
  
  
<a href="<%= main_index_path %>"><div class="enter"></div></a>


<div style="position:fixed; bottom:20px; right:50px"><strong>Powered by : </strong> <a href="http://kunalinfotech.org/" target="_blank" class="fl">Kunal Infotech Pvt Ltd.</a></div>


</div>