<!-- content -->
   <div id="content">

     <div class="indent">
       <div class="wrapper" style="margin-bottom:20px">
		  <h2><%= @page.title %></h2>
         <div>
		  

             <div class="wrapper">
               <div style="width:100%; height:auto; float:left">
				        <%= @page.desc.html_safe %>
               </div>        
              
              
           </div>
          
           
         </div>
         
       </div>
     </div>
   </div>








 