<% content_for :styles do %>
 <%= stylesheet_link_tag "table"%> 
<% end %>

<!-- content -->
    <div id="content">

      <div class="indent">
        <div class="wrapper">
          <div class="mainContent">
		  

              <div class="wrapper">
           
              <h2>OFFICE BEARERS &amp; DIRECTORS</h2>
                 
                    <div class="extra-wrap">
<table width="100%" border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td align="left" valign="top"><strong>S.No </strong></td>
    <td align="left" valign="top"><strong>Photo</strong></td>
    <td align="left" valign="top"><strong>NAME OF DIRECTORS</strong></td>
    <td align="left" valign="top"><strong>POST</strong></td>
    <td align="left" valign="top"><strong>PH. No.</strong></td>
  </tr>
  <tr>
    <td align="left" valign="top">1</td>
    <td align="left" valign="top"><img src="/assets/avatar.jpg" alt="" width="100" height="100" class="avatar" /></td>
    <td align="left" valign="top"><strong>Shri  Kamlesh P. Shah</strong><br />
      Shah  Furnitures Pvt. Ltd.<br />
      Plot  No. 1051, Nandanwan Lay-out,<br />
      K.D.K.  College Road,  Nagpur-9.</td>
    <td align="left" valign="top"><strong>President</strong></td>
    <td align="left" valign="top"><p>(O)  2742036, (R) 2715462<br />
      M-  9545554326<br />
      Fax-  0712-2742036, 2750638<strong></strong></p>
      shahngp@gmail.com</td>
  </tr>
  <tr>
    <td align="left" valign="top">2</td>
    <td align="left" valign="top"><img src="/assets/avatar.jpg" alt="" width="100" height="100" class="avatar" /></td>
    <td align="left" valign="top"><strong>Shri  Kailash Jogani</strong><br />
      299/15,  Shantivihar Colony, <br />
      Opp. Hislop College Lane, Karodpati Gali, <br />
      Civil  Lines, Nagpur-1</td>
    <td align="left" valign="top"><strong>I.P.P.</strong></td>
    <td align="left" valign="top">(O)  2567818 (R) 2286300<br />
      M-  9822940890<br />
      kailashjogani@gmail.com</td>
  </tr>
  <tr>
    <td align="left" valign="top">3</td>
    <td align="left" valign="top"><img src="/assets/avatar.jpg" alt="" width="100" height="100" class="avatar" /></td>
    <td align="left" valign="top"><strong>Shri  Govind P. Bansal (Agrawal)</strong><br />
      Gurudarshan  Complex, Flat No. 402, <br />
      5th  Floor, Chhapru Nagar Chowk, <br />
      Central  Avenue, Nagpur-8.</td>
    <td align="left" valign="top"><strong>Sr.  Vice President</strong></td>
    <td align="left" valign="top"><p>(O)  2762888<br />
      M-  9326452034</p>
      govindpbansal@gmail.com</td>
  </tr>
  <tr>
    <td align="left" valign="top">4</td>
    <td align="left" valign="top"><img src="/assets/avatar.jpg" alt="" width="100" height="100" class="avatar" /></td>
    <td align="left" valign="top"><strong>Shri  Vishnukumar Pacheriwala</strong><br />
      Itwari,  Shahid Chowk, Nagpur-2.</td>
    <td align="left" valign="top"><strong>Vice  president</strong></td>
    <td align="left" valign="top"><p>(O)  2731917</p>
      M- 9371115471</td>
  </tr>
</table>

                    </div>
               
               
              </div>
           
            
          </div>
          <div class="aside">
		  
		  
		  
		  
		 <div id="londontabs" class="widget">

<div id="tabsheader" class="tabsheader">

<ul class="tabnav ui-tabs-nav">
<li class="ui-tabs-selected"><a href="#markettab">Markets</a></li>
<li class=""><a href="#recenttab">Banking</a></li>
<li class=""><a href="#commentstab">Economy</a></li>
<li class="tagslast"><a href="#tagtab" class="tagslast">Companies</a></li>
</ul>

</div>

<div id="markettab" class="tabdiv ui-tabs-panel" style="">
<div class="tab_inside">
<a href="#"><img src="/assets/thumb_038.png" alt="How to make good business charts"></a>
<div class="content">
<h1><a href="#">How to make good business charts</a></h1> 
<span class="date">January 03,  2011</span>
</div>
</div>


<div class="tab_inside">
<a href="#"><img src="/assets/thumb_038.png" alt="How to make good business charts"></a>
<div class="content">
<h1><a href="#">How to make good business charts</a></h1> 
<span class="date">January 03,  2011</span>
</div>
</div>


<div class="tab_inside">
<a href="#"><img src="/assets/thumb_038.png" alt="How to make good business charts"></a>
<div class="content">
<h1><a href="#">How to make good business charts</a></h1> 
<span class="date">January 03,  2011</span>
</div>
</div>

<div class="tab_inside no_border_bottom">
<a href="#"><img src="/assets/thumb_013.png" alt="How to setup business meetings"></a>
<div class="content">
<h1><a href="#">How to setup business meetings</a></h1> 
<span class="date">February 03,  2011</span>
</div>
</div>
</div>



<div style="" id="recenttab" class="tabdiv ui-tabs-panel ui-tabs-hide">
<div class="tab_inside">
<a href="#"><img src="/assets/thumb_038.png" alt="How to make good business charts"></a>
<div class="content">
<h1><a href="#">How to make good business charts</a></h1> 
<span class="date">January 03,  2011</span>
</div>
</div>

<div class="tab_inside no_border_bottom">
<a href="#"><img src="/assets/thumb_013.png" alt="How to setup business meetings"></a>
<div class="content">
<h1><a href="#">How to setup business meetings</a></h1> 
<span class="date">February 03,  2011</span>
</div>
</div>

</div>

<div style="" id="commentstab" class="tabdiv ui-tabs-panel ui-tabs-hide">

<div class="tab_inside">
<a href="#"><img src="/assets/thumb_038.png" alt="How to make good business charts"></a>
<div class="content">
<h1><a href="#">How to make good business charts</a></h1> 
<span class="date">January 03,  2011</span>
</div>
</div>

<div class="tab_inside no_border_bottom">
<a href="#"><img src="/assets/thumb_013.png" alt="How to setup business meetings"></a>
<div class="content">
<h1><a href="#">How to setup business meetings</a></h1> 
<span class="date">February 03,  2011</span>
</div>
</div>
</div>

<div style="" id="tagtab" class="tabdiv ui-tabs-panel ui-tabs-hide">

<div class="tab_inside">
<a href="#"><img src="/assets/thumb_038.png" alt="How to make good business charts"></a>
<div class="content">
<h1><a href="#">How to make good business charts</a></h1> 
<span class="date">January 03,  2011</span>
</div>
</div>

<div class="tab_inside no_border_bottom">
<a href="#"><img src="/assets/thumb_013.png" alt="How to setup business meetings"></a>
<div class="content">
<h1><a href="#">How to setup business meetings</a></h1> 
<span class="date">February 03,  2011</span>
</div>
</div>

</div>


</div> 
		  
		  
		  
		  
		  
		  
		  
		  
            <div class="section">
              <div class="heading">News and Events</div>
              <!-- .box -->
              <div class="box">
                <div class="border-right">
                  <div class="border-bot">
                    <div class="left-top-corner">
                      <div class="right-top-corner">
                        <div class="right-bot-corner">
                          <div class="left-bot-corner">
                            <div class="inner">
                              <dl class="list3">
                                <dt><strong>07/05/2010</strong> Gifts &amp; Novelties</dt>
                                <dd>Accusantium doemque laudantot aperiam, eaque ipsa quaein...<a href="#">&gt;&gt;</a></dd>
                                <dt><strong>08/06/2010</strong> Network Marketing</dt>
                                <dd>Accusantium doemque laudantot aperiam, eaque ipsa quaein...<a href="#">&gt;&gt;</a></dd>
                                
                              </dl>
                              <div class="wrapper"><a href="#" class="button">More &raquo;</a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.box -->
            </div>
            

          </div>
        </div>
      </div>
    </div>